body {

    background-color: #f5f7f8;

}


div {
    margin-bottom: 10px;
    margin-right: 170px;
    margin-left: 120px;
}

.container-fluid .collapse {
    margin-bottom: 10px;
    margin-right: 110px;
    margin-left: 0px;
}

.socialNet {
    color: rgb(106, 106, 245);

}

.fab {

    padding-top: 5px;
    padding-right: 3px;
    text-align: center;
}


img {
    transition: all 0.6s ease-in-out 0s;
}

img:hover {
    cursor: default;
    /* transform: rotate(360deg); */
    transition: all 0.6s ease-in-out 0s;
}


@media screen and (min-width: 575px) {
    .hideTable {
        display: none;
    }

    #table,
    #table1,
    #table2,
    #table3 {

        display: contents;
    }
}

h1.title {
    text-align: center;

}

h1 {

    color: rgba(0, 0, 0, 0.829);
    font-family: Montserrat;
    font-weight: 450;
}

h2  {
    color: rgba(0, 0, 0, 0.829);
    font-family: Montserrat;
    font-weight: 500;

}

p {

    font-family: Ovo;
    font-weight: 400;
    font-size: 0.9412rem;
    color: #222;

}

td {

    font-family: Ovo;
    font-weight: 400;
    font-size: 0.9412rem;
    color: #222;

}

.table th {
    background-color: rgb(83, 78, 78);
    color: white;
}

ul {
    list-style: none;
}

.sidebar {
    background-color: rgb(83, 78, 78);
    position: fixed;
    left: 0;
    width: 170px;
    bottom: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    border-right: 1px solid #cecece;
    overflow: hidden;
    
}

.sidebar-expand-md .sidebar-nav {

    flex-direction: column;
}

.nav-link {
    color: white;
    list-style:none;
}

.footer {
    background-color: rgb(83, 78, 78);
    margin-top: 20px;
    margin-bottom: 0px;
    height: 60px;
    margin-left: 0px;
    margin-right: 0px;

}

.footText {

    color: white;
    font-size: 0.5882;

}

@media screen and (max-width: 660px) {

    .sidebar{
        display:none;
    }
   
    div {
        
        margin-top: 15px;
        margin-right: 2px;
        margin-left: 5px;
        padding-right: 3px;
    }

    h1 {
        margin-top: 80px;
    }

    h2 {
        margin-top: -10px;
    }
    
    .navbar{
        background-color: rgb(83, 78, 78);
        width: 100%;
    }
    .offset:before { 
        display: block; 
         content: " "; 
          height: 100px;      /* Give height of your fixed element */
            margin-top: -20px; /* Give negative margin of your fixed element */  	
            visibility: hidden;
            
        }

        div#table {
            margin-left: 0px;
            padding-left: 0px;
            margin-right: 0px;
        }

        .place-table.col-sm-12 {
            padding-left: 0px;
            margin-left: 0px;
        }

        .time-table.col-sm-12 {
            margin-left: 0px;
            margin-right: 0px;
            padding: 0px;
        }
        .row.hideTable.table-hide-symbol.p-3 {
            margin-right: 5px;
            margin-top: -20px;
        }

        .direction-table.col-sm-12 {
            margin-left: 0px;
            margin-right: 0px;
        }

        div#table3 {
            margin-left: -1px;
        }

        .row.hideTable.table-hide-symbol {
            margin-right: 7px;
        }
        .navbar-collapse {
           
            margin-left: 0px;
        }
        
}

@media screen and (min-width: 661px) {

    .footer {

        margin-left: 150px;
    }

    .navbar{
        display:none;
    }
}
    
